.aboutUs-section {
  text-align: center;
  padding-bottom: 150px;
  overflow: hidden;
  color: black;
}

.aboutUs-section .row {

  gap: 68px;
  margin-top: 16px;
}

.aboutUs-section .row .rent-board-img {
  position: relative;
  top: 20px;
}

.aboutUs-section .primary-heading {
  font-size: 48px;
  font-weight: 600;
  color: #312F2F;
}

#AboutUs {
  margin-bottom: 5rem;
}