
.aboutUs-section {
  text-align: center;
  padding-bottom: 150px;
  overflow: hidden;
}

.aboutUs-section .row {

  gap: 68px;
  margin-top: 16px;
}

.aboutUs-section .row .rent-board-img {
  position: relative;
  top: 20px;
}

.aboutUs-section .primary-heading {
  font-size: 48px;
  font-weight: 600;
  color: #141010;
}

#AboutUs {
  margin-bottom: 5rem;
  font-weight: 500;
}

.mf-cursor::before {
  transform: scale(2.8);
}

.items-center img{
  height: fit-content;
    margin-top: 0.7rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
}

.h-auto:hover{
  transform: scale(1.020);
}