.aboutUs-section {
  text-align: center;
  padding-bottom: 150px;
  overflow: hidden;
}

.aboutUs-section .row {

  gap: 68px;
  margin-top: 16px;
}

.aboutUs-section .row .rent-board-img {
  position: relative;
  top: 20px;
}

.aboutUs-section .primary-heading {
  font-size: 48px;
  font-weight: 600;
  color: #312F2F;
}

.aboutUs-section .row .paragraph {
  max-width: 550px;
  text-align: justify;
  line-height: 28.38px;
}

@media (max-width:768px) {
  .aboutUs-section .row .paragraph {
    max-width: 550px;
    text-align: justify;
    padding: 12px;
    line-height: 28.38px;
  }
}