.admin-dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.admin-dashboard .adminName {
    color: red;
}

.widgetSection {
    background-color: #e8f8f4;
}

.textColor{
    color: #000;
}