
#ContactUs {
    margin-bottom: 0; /* Further reduced margin-bottom to minimize the space */
}

main {
    margin-top: 0; /* Remove any top margin between the Contact Us header and Contact Text Information */
    padding-top: 0; /* Remove extra padding if present */
    margin-bottom: 5rem;

    background-color: #b4f8f8; /* Light cyan background */
    border: 2px solid #020202; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Spacing inside the section */
    padding: 10px 5px; /* Top and bottom padding: 10px, left and right padding: 5px */
}

#text{
    display: flex;
    text-align: center;
    margin-left: 98px;
    font-style: bold;
}

