/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Page background color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Logo styles (pulsing background effect, no border) */
  .preloader-icon {
    width: 400px; /* Set the size you want */
    height: 200;
    border-radius: 50%; /* Keep circular shape */
    animation: pulseBackground 2s infinite ease-in-out; /* Pulsing effect */
    /*background-color: rgb(255, 56, 56);  Initial color */
  }
  
  /* Loading text with pulse animation */
  .loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #806ab3; /* Text color for visibility */
    font-family: 'Amatic SC', sans-serif;
    animation: pulse 2.5s linear infinite;
  }
  
  /* Pulse animation for loading text */
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  
  
  /* Hide the preloader once the page is loaded */
  body.loaded #preloader {
    display: none;
  }
  
  body.loaded #main-content {
    display: block;
  }