.feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 60px;
  background-color: #f0f4f8;
}

.feedback-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feedback-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.feedback-success {
  color: green;
  text-align: center;
}

.feedback-error {
  color: red;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback-form label {
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback-stars {
  display: flex;
  gap: 5px;
}

.star-selected {
  color: gold;
  cursor: pointer;
}

.star-unselected {
  color: gray;
  cursor: pointer;
}

.feedback-submit {
  width: 100%;
  padding: 10px;
  background-color: #093360;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.feedback-submit:hover {
  background-color: #031c36;
}
