/* src/App.css or any global CSS file */
html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  overflow: hidden; /* Prevent scrolling while loading */
}

html {
  scroll-behavior: smooth;
}

.placeholder-text {
  @apply bg-primaryGreen rounded-2xl p-3 text-xs placeholder:text-[#4C4949];
}
.input-bar {
  @apply border-2 border-green rounded-lg h-9 w-full text-green-dark placeholder-textBlack p-2;
}

.mb-0 {
  margin-bottom: 0;
}
/* global.css or your main CSS file */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Light gray track (background of the scrollbar) */
}

::-webkit-scrollbar-thumb {
  background-color: #2ec4b6; /* Blue scrollbar thumb */
  border-radius: 9999px; /* Rounded edges for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2ec4b6; /* Darker blue when hovered */
}

